<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
</head>
<body>
    <h1>comment id : <%= id %> by <%= username %></h1>
    <p><%= comment %></p>
    <h2><a href = "/comments">All Comments</a></h2>
</body>
</html>