<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit</title>
  </head>
  <body>
    <h1>
      Edit the comment for user : <%= comment.username %> with id : <%=
      comment.id %>
    </h1>
    <form method="post" action="/comments/<%= comment.id %>?_method=PATCH">
      <section>
        <label for="comment">Change the comment</label>
        <br />
        <textarea rows="5" cols="40" id="comment" name="newComment">
<%= comment.comment%></textarea
        >
      </section>
      <button type="submit">Save</button>
    </form>
  </body>
</html>
