<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All products</h1>
    <ul>
    <% for (let {_id, name, price, category} of products){ %>
        <li><a href="/products/<%= _id %>"><%= name %> $<%= price %> <%= category %></a></li>
    <% } %>
    </ul>

    <h2><a href="/products/new">New product</a></h2>
</body>
</html>