<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Racoons</title>
</head>
<body>
    <h1>Hi my name is <%= name %> and I am a racoon</h1>
    <%if (age >= 18){ %>
        <h1>I am allowed to watch adult content</h1>
    <% } else { %>
        <h1>I am still a kid 😋</h1>
    <% } %>
</body>
</html>

