<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/comments">
        <section>
        <label for="username">Enter the username</label>
        <input id = "username" name="username" />
        </section>
        <section>
            <label for= "comment">Enter the comment</label>
            <input id = "comment" name = "comment"/>
        </section>
        <button type="submit">Submit</button>
    </form>
</body>
</html>